body {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 500;
    line-height: 1.5;
}

h1 {
	font-size: 25px;
}

a:link, a:visited {
	text-decoration: none;
	/*color: steelblue;*/
	color: #017fb5;
}

a:hover {
    color: black;
}

.row {
    width: 88%;
    margin: 0 auto;
}

#about {
    margin-left: 25px;
}

.navbar-brand {    
    font-size: 28px;
    font-family: 'Bellefair', serif;
    margin-top: 4px;
}

.navbar {
    margin: 10px 10px 10px 10px;
    border-bottom-color: #b9d7d6;
    border-bottom-width: 1.4px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    background-color: white;
}

.navbar-right {
    margin-right: 0px;
}

.navbar-right li {
    font-size: 22px;
    font-family: 'Bellefair', serif;
    margin-left: 20px;
    margin-top:5px;
}

/* Navbar text color */
.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    border-radius: 50px;
    padding: 9px 12px;
    margin: 6px 4px;
    text-align: center;
}


.navbar-right a:hover {
    background-color: #c7dfde !important;
    transition: 0.5s;
}

.content {
    width: 100%;
}

.subheader {
    font-size: 23px; 
}

/*nav {
    overflow: auto;
    float: right;
    }

nav ul {
    padding: 0;
    margin-top: 18px;
}

    nav li {
        display: inline-block;
        margin: 10px 0;
    }

    nav a {
        width: 100px;
        padding: 5px 20px;
        margin: 5px 10px;
        cursor: pointer;
        transition: 0.5s;
    } 

    a:hover {
        background-color: rgba(255, 255, 255, .5);
        border-radius: 50px;
        color: red;
        transition: 0.5s;
    }

    div, nav {
    position: relative;
    display: block;
}*/

.profile {
    max-height: 200px;
    max-width: 200px;
    margin: 10px;
}

.profile img {
            display: flex;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            display: block;
            transform: rotate(-5deg);
        }

strong {
    font-size:17.5px;
}

.bullet {
    /*line-height: 1.6;*/
}

/*.name_container {
        overflow: auto;
        float: left;
        padding-top: 1px;
        color: white;
    }*/





